<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table {
    opacity: 0.9;
    style=”float:right;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    width:30%;
}

tr:hover {background-color: #ddd;}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #3498DB;
    color: white;
}

</style>
<table>
<thead><tr><th>Page details</th><th>Link</th></thead>
<tbody>
<tr><td>Details of Donors</td><td>table.html</td>\</tr>
<tr><td>Details of Doctors</td><td>doctable.html</td>\</tr>
<tr><td>Add Donor</td><td>form.html</td>\</tr>
</tbody>
</table>