<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table {
    opacity: 0.9;
    style=”float:right;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    width:30%;
}

tr:hover {background-color: #ddd;}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #3498DB;
    color: white;
}

</style>
<table>
<thead><tr><th>Donor Name</th><th>Age</th><th>Address</th><th>Email ID</th><th>Mobile</th><th>Blood Group</th><th>Gender</th></tr></thead>
<tbody>
<tr><td>Parth Verma</td><td>22</td><td>Vindhyachal SMVDU</td><td>parth.verma96@gmail.com</td><td>8989882529</td><td>A +ve</td><td>Male</td></tr>
<tr><td>Rajat Soni</td><td>21</td><td>Vindhyachal SMVDU</td><td>rajat_np@gmail.com</td><td>7006862367</td><td>B +ve</td><td>Male</td></tr>
<tr><td>Shubham Upadhyay</td><td>21</td><td>Vindhyachal SMVDU</td><td>shubham@gmail.com</td><td>989898983</td><td>O +ve</td><td>Male</td></tr>
<tr><td>Mansi Sharma</td><td>22</td><td>Shivalik SMVDU</td><td>mansiis14@gmail.com</td><td>9596804234</td><td>AB +ve</td><td>Female</td></tr>
<tr><td>Abhinav Gadpale</td><td>23</td><td>Trikuta SMVDU</td><td>abhiav@hotmail.com</td><td>7006634533</td><td>B -ve</td><td>Male</td></tr>
</tbody>
</table>